[class^="main_cont_0"] {margin-top:50px;}


.main_cont_wrap {
    position:relative; 
    max-width:1170px; 
    width:100%; 
    margin:0 auto; 
    overflow: hidden;
}

/*imeage background*/
.main_cont_wrap .area_sc {
    position:relative; 
    float:left; 
    box-sizing: 
    border-box; 
    background-color: #eeecec; 
    border-bottom:6px solid #373737;
}

/*imeage size*/
.main_cont_wrap .area_sc span.sc_img img {
    width:1%;
    display:block; 
    overflow:hidden;
}

/*font*/
.main_cont_wrap .area_sc figcaption {
    padding:25px 25px 0 25px;
    box-sizing: border-box; 
    font-weight:bold;
}

/*second font*/
.main_cont_wrap .area_sc span.sc_txt {
    position:absolute; 
    left:25px; 
    bottom:27px; 
    text-align:right; 
    display:block; 
    font-size:13px; 
    color:#5c5953; 
    margin-left:25px;
}

.main_cont_wrap .area_sc span.sc_txt:before {
    content: ''; 
    position:absolute; 
    left:0; top:0; 
    display: inline-block; 
    margin-left:-25px; 
    width:20px; 
    height:20px; 
}

/*main_cont_01*/
.main_cont_01 .main_cont_wrap .area_sc {
    width:570px; 
    height:524px; 
    box-sizing: border-box;
}

.main_cont_01 .main_cont_wrap .area_sc.first {
    margin-right:20px;
    
}


/*main_cont_02*/
.main_cont_02 .main_cont_wrap .main_intro {
    width:370px; 
    height:440px; 
    background-color: #f6ca00;
    padding:45px 20px 0 30px; 
    box-sizing: border-box; 
    float:left; 
    margin-right:30px;
}
.main_intro{
    font-size: 23px;
}
.int_tit{
    font-size: 17px;
}


.main_cont_02 .main_cont_wrap .main_intro .int_tit {
    margin-top:34px; line-height:160%; color:#333;
}

.main_cont_02 .main_cont_wrap .main_intro .int_tit:before {
    content: ''; 
    display:block; 
    width:40px; 
    height:4px; 
    background-color: #373737; 
    margin-bottom:15px;
}

.main_cont_02 .main_cont_wrap .area_sc {
    width:370px; 
    height:440px; 
}

.main_cont_02 .main_cont_wrap .area_sc.first {
    margin-right:30px;
}


/*main_cont_03*/
.main_cont_03 {
    position:relative; 
    overflow: hidden; 
    width:100%; 
    height:600px;
}

.main_cont_03 .main_hansot {
    height:600px;
}

.main_cont_03 .main_hansot_bg {
    z-index:3; 
    width:100%; 
    height:600px; 
    position:absolute; 
    left:0; top:0; 
    width:100%; 
    background: url(../img/main09.jpg) 50% 50% no-repeat; 
    background-size: cover; 	
	background-position:center;
}

.main_cont_03 .main_hansot .main_cont_wrap {
    height:600px; box-sizing: border-box;
}

.main_cont_03 .main_hansot .main_cont_wrap .main_info {
    position:relative; 
    width:370px; 
    height:100%; 
    padding:80px 25px 60px 25px; 
    color:#fff; 
    box-sizing: 
    border-box; 
    margin:0; 
    z-index:5;
}

.main_cont_03 .main_hansot .main_cont_wrap .main_info:after {
    content: ''; 
    display:block; 
    position:absolute; 
    left:0; 
    top:0; 
    width:370px; 
    height:600px; 
    background-color: #373737; 
    opacity: 0.9;
}

.main_cont_03 .main_hansot .main_cont_wrap .main_info h2.h2_info {
    position:relative;  
    z-index:1;
}

.main_cont_03 .main_hansot .main_cont_wrap .main_info .info_tit {
    position:relative; 
    margin-top:35px; 
    line-height:190%; 
    z-index:1; 
    color:#dad8d8;
}

.main_cont_03 .main_hansot .main_cont_wrap .main_info .info_tit:before {
    content: ''; 
    display:block; 
    width:40px; 
    height:4px; 
    background-color: #fff; 
    margin-bottom:17px;
}

/*main_cont_04*/
.main_cont_04 {
    position:relative;
}

.main_cont_04 .main_cont_wrap .area_sc {
    border:0; float:none;
}

.main_cont_04 .main_cont_wrap .area_sc:after {
    display:none;
}

.main_cont_04 figure.sc_wrap {
    position:relative;
    width:100%; 
    overflow: hidden;
}

.main_cont_04 figure.sc_wrap span.sc_img,
.main_cont_04 figure.sc_wrap figcaption {
    float:left; height:450px;
}

.main_cont_04 figure.sc_wrap span.sc_img {
    width:800px; 
    height:450px; 
    overflow: hidden;
}

.main_cont_04 figure.sc_wrap figcaption {
    position:relative; 
    width:370px; 
    padding:43px 22px 0 26px; 
    box-sizing: border-box; 
    border-bottom:6px solid #373737; 
    box-sizing: border-box;
}


.main_cont_04 .area_sc.on figure.sc_wrap figcaption:after {
    content: ''; 
    width:100%; 
    background-color: #f2c000; 
    transition: opacity 0.01s, width 0.5s; 
    opacity: 1; 
}

.main_cont_04 .area_sc figure.sc_wrap figcaption p.sc_tit {
    position:relative; 
    color:#333; 
    line-height:150%; 
    margin-top:33px; 
    font-weight: normal;
}

.main_cont_04 .area_sc figure.sc_wrap figcaption p.sc_tit:before {
    content: ''; 
    display:block; 
    width:40px; 
    height:4px; 
    background-color:#373737; 
    margin-bottom:16px;
}

/*more_cont*/
.conts_more {
    width:100%; margin:100px 0 0 0; overflow: hidden;
}

.conts_more .more_tit {
    position:relative; 
    padding-bottom:60px; 
    max-width:1170px; 
    width:100%; 
    margin:0 auto; 
    line-height:100%; 
    font-size:24px; 
    color:#373737; 
    font-weight:800;
}
.conts_more .more_tit:after {
    content: ''; 
    position:absolute; 
    left:0; 
    top:0; 
    width:1005px; 
    display:block;  
    height:16px; 
    background-color: #373737; 
    margin: 5px 0 0 165px;
}

.conts_more ul {
    max-width:1170px; 
    width:100%; 
    margin:0 auto; 
    overflow:hidden;
}

.conts_more ul li {
    position:relative; 
    float:left; 
    width:370px; 
    height:266px; 
    overflow:hidden; 
    box-sizing: border-box; 
    margin-left:30px;
}
.conts_more ul li:first-child {
    margin-left:0;
}
.conts_more ul li figure {
    position:relative;
}
.conts_more ul li figure span.more_img {
    display:block; 
    width:100%; 
    height:100%; 
    overflow: hidden;
}
.conts_more ul li figure span.more_img img {
    width:100%;
}
.conts_more ul li figure figcaption {
    position:absolute; 
    bottom:0; 
    left:0; 
    padding:0 20px 0 30px; 
    height:61px; 
    box-sizing: border-box; 
    width:100%; 
    background-color: #373737; 
    overflow:hidden;
}

.conts_more ul li figure figcaption h3.h3_tit {
    color:#fff; 
    position:relative; 
    padding:22px 0 20px 0; 
    font-size:15px; 
    height:60px; 
    box-sizing: border-box;
    line-height: 0px;
}
.conts_more ul li figure figcaption h3.h3_tit:after{
    content: ''; 
    position:absolute; 
    right: 30px;; 
    top:17px;  
    width:10px; 
    height:10px; 
    background: url(/img/icon_cont_more.png);
    background-size:10px 10px;
    display:inline-block;
}


/* media query */
@media all and (max-width:1170px){

	/*main_cont_01*/
	.main_cont_01 .main_cont_wrap .area_sc {
        width:48%; 
        min-height:290px; 
        height:auto; 
        margin:0 1%;
    }

    .main_cont_01 {
        margin-top:30px;
    }

    .main_cont_wrap .area_sc figcaption {
        padding:20px;
    }
    
	.main_cont_01 .main_cont_wrap .area_sc.first {
        margin:0 1%;
    }

	/*main_cont_02*/
	.main_cont_02 .main_cont_wrap .main_intro {
        width:28%; 
        margin:0 1%; 
        padding:50px 10px 0 10px;
    }

	.main_cont_02 .main_cont_wrap .area_sc {
        width:32.5%; 
        margin:0 1%;
    }
    
	.main_cont_02 .main_cont_wrap .area_sc.first {
        margin:0 1%;
    }

	/*main_cont_04*/
	.main_cont_04 figure.sc_wrap span.sc_img {
        width:60%;
    }

	.main_cont_04 figure.sc_wrap figcaption {
        width:40%;
    }

	.main_cont_04 .main_cont_wrap .area_sc span.sc_img img {
        width:auto; height:100%;
    }

    	/*h2공통*/


	/*main_cont_01*/
	.main_cont_01 {margin-top:30px;}


	/*main_cont_02*/
	.main_cont_02 .main_cont_wrap .main_intro,
    .main_cont_02 .main_cont_wrap .area_sc {
        height:400px;
    }
	.main_cont_02 .main_cont_wrap .main_intro .int_tit span.s_block {
        display:inline;}

        
    
    .conts_more{display: none;}

}

@media all and (max-width:768px){
    

	/*main_cont_02*/
	.main_cont_02 .main_cont_wrap {
        max-width:640px;
    }
	.main_cont_02 .main_cont_wrap .main_intro {
        width:100%; 
        float:none; 
        padding: 40px 15px 0 15px;
        margin:0;
        height:300px;
    }
	.main_cont_02 .main_cont_wrap .main_intro .int_tit span.s_block {
        display:block;
    }
	.main_cont_02 .main_cont_wrap .area_sc {
        width:49%; margin:2% 0 0 1%; height:350px;
    }
	.main_cont_02 .main_cont_wrap .area_sc.first {
        margin: 2% 1% 0 0;
    }
	.main_cont_02 .main_cont_wrap .area_sc figcaption {
        padding:20px;
    }
	.main_cont_02 .main_cont_wrap .area_sc figcaption p.sc_tit {
        height:75px;
    }
	.main_cont_02 .main_cont_wrap .area_sc figcaption p.sc_tit span.s_block {
        display:inline;
    }

	/*main_cont_03*/
	.main_cont_03 {
        height:550px;
    }
	.main_cont_03 .main_hansot .main_cont_wrap .main_info {
        width:94%; 
        height:480px; 
        margin:35px auto 35px auto; 
        padding:50px 20px 40px 20px !important; 
        box-sizing: border-box;
    }
    
	.main_cont_03 .main_hansot .main_cont_wrap .main_info:after {
        content: ''; 
        width:auto; 
        height:auto; 
        left:0; right:0; top:0; bottom:0;
    }

	/*main_cont_04*/
	.main_cont_04 .main_cont_wrap {
        max-width:640px;
    }
    
	.main_cont_04 figure.sc_wrap span.sc_img,
    .main_cont_04 figure.sc_wrap figcaption {
        float:none; 
        height:auto;
    }

	.main_cont_04 .main_cont_wrap .area_sc span.sc_img img {
        width:100%; 
        height:auto;
    }
	.main_cont_04 figure.sc_wrap figcaption {
        width:100%;
    }

	.main_cont_04 figure.sc_wrap figcaption p.sc_tit {
        padding:0 20px 90px 0;
    }
    .conts_more{display: none;}

}

@media all and (max-width:414px){


	/*main_cont_01*/
	.main_cont_01 .main_cont_wrap {
        min-width:320px;
    }
	.main_cont_01 .main_cont_wrap .area_sc {
        width:100%; margin:0;
    }
	.main_cont_01 .main_cont_wrap .area_sc.first {
        margin:0 0 20px 0;
    }

	/*main_cont_02*/
	.main_cont_02 .main_cont_wrap .main_intro {
        height:450px;}
	.main_cont_02 .main_cont_wrap .to_wrap {
        padding:0 15px; 
        width:100%; 
        box-sizing: border-box;
    }
    
	.main_cont_02 .main_cont_wrap .to_wrap .area_sc {
        float:none;
        width:100%; 
        margin:20px 0 0 0;}
        
	.main_cont_02 .main_cont_wrap .area_sc.first {
        margin:-70px 0 0 0;
    }
	
}
