<!DOCTYPE html>
<html lang="kr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <!--타이틀(title)-->
    <title>한솥</title>

    <!--ejs에 CSS 연결-->
    <link rel = "stylesheet" type="text/css" href="stylesheets/swiper_min.css" />
    <link rel = "stylesheet" type="text/css" href="stylesheets/footer.css" />
    <link rel = "stylesheet" type="text/css" href="stylesheets/ui.common.css" >
    <link rel = "stylesheet" type="text/css" href="stylesheets/ui.main.css" />
    <link rel = "stylesheet" type="text/css" href="stylesheets/ui.menu.css" />
    <link rel = "stylesheet" type="text/css" href="stylesheets/ui.pop.css" />
    

    <!--ejs에 JS 연결-->
    <script src="javascripts/hello.js"></script>
    <script src="javascripts/hansot.common.js"></script>
    <script src="javascripts/jquery-1.12.4min.js"></script>
    <script src="javascripts/jquery-ui-1.12.1.min.js"></script>
    <script src="javascripts/swiper.jquery.min.js"></script>
    <script src="javascripts/TweenMax.min.js"></script>
    <script src="javascripts/ui.common.js"></script>
    <script src="javascripts/ui.main.js"></script>
    <script src="javascripts/validate.js"></script>
    <script src="javascripts/tss.js"></script>
    <script src="javascripts/tss.util.js"></script>

    <!--CDN(bootstrap4)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- CDN(Swiper)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    
    <!--favicon-->
    <link rel="icon" sizes="60x60" href="images/favicon.png">
</head>

<!--BODY-->
<body>


<!--header😀-->
    <header id="header">
        <!--header flex-->
    <div class="hd_flex">
        <div class="area_flex" style="display: block;">
            <ul>
                <li>
                    <a href="login.html">로그인<span></span> </a>
                    </li>
                <li>
                    |
                    <a href="join.html">회원가입</a>
                    </li>

                <li class="sns_insta">
                    |
                    <a href="https://www.instagram.com/hansot_official/" target="_blank" title="새 창 열림"><span class="blind">instagram</span></a>
                </li>
                <li class="sns_face">
                    |
                    <a href="https://www.facebook.com/hansotOfficial/?ref=ts&amp;fref=ts" target="_blank" title="새 창 열림"><span class="blind">facebook</span></a>
                </li>
            </ul>
        </div>
    </div>
<!--//header flex😈-->

<!--header content😀-->
<div class="hd_fixed fix" style="display: block;">
    <div class="hd_content">
        <div class="logo">
            <h1><a href="/"><span class="blind">한솥</span></a></h1>
        </div>
        <!-- gnb :Global Navigation Bar (공통 내비게이션 바 or 레이어를 의미함. 주요 메뉴 및 기능 페이지로 빠르게 전환할 수 있도록 링크를 포함하고 있음.) -->
        <section id="gnb" class="area_gnb mo_version">
            <!-- 모바일 로그인/회원가입 -->
            <div class="m_area_flex">
                <ul>
                    <li>
                        <a href="/login">로그인</a>
                        </li>
                    <li>
                        <a href="/join">회원가입</a>
                        </li>
                </ul>
            </div>
            <!-- //모바일 로그인/회원가입 -->

            <div class="gnb_menu">
                <ul class="" style="height: 60px;">
                    <li class="dp1">
                        <p class="dp1_tit"><a href="/">한솥</a></p>
                        <div class="dp2" style="display: none;">
                            <ul>
                                <li class=""><a href="/brand/story">브랜드 스토리</a></li>
                                <li><a href="/brand/philosophy">브랜드 철학</a></li>
                                <li><a href="/brand/legacy">브랜드 유산</a></li>
                                </ul>
                        </div>
                    </li>

                    <li class="dp1">
                        <p class="dp1_tit"><a href="menus">메뉴</a></p>
                        <div class="dp2" style="display: none;">
                            <ul>
                                <li><a href="/menu/menu_list">전체메뉴</a></li>
                                <li><a href="/menu/material">식재료 이야기</a></li>
                                <li><a href="/menu/chancha">페루찬차마요커피</a></li>
                                <li><a href="/menu/menu_order">단체 주문</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dp1">
                        <p class="dp1_tit"><a href="locate">지도</a></p>
                        <div class="dp2" style="display: none;">
                            <ul>
                                <li><a href="/store/store_find">주변점포찾기</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dp1">
                        <p class="dp1_tit"><a href="bbs">자유게시판</a></p>
                        <div class="dp2" style="display: none;">
                            <ul>
                                <li><a href="/event/event_list">이 달의 이벤트</a></li>
                                <li><a href="/event/store_event_list">신규점 오픈이벤트</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dp1">
                        <p class="dp1_tit"><a href="csh">개발자 정보</a></p>
                        <div class="dp2" style="display: none;">
                            <ul>
                                <li><a href="/franchise/hansot_store">Why 한솥 가맹점</a></li>
                                <li><a href="/franchise/success">성공수기</a></li>
                                <li><a href="/franchise/process">창업개설절차</a></li>
                                <li><a href="/franchise/calc">예상 창업 비용</a></li>
                                <li><a href="/franchise/qna">창업문의</a></li>
                                <li><a href="/franchise/briefing">창업설명회 일정·신청</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dp1">
                        <p class="dp1_tit"><a href="login">로그인</a></p>
                        <div class="dp2" style="display: none;">
                            <ul>
                                <li><a href="/hansot/promise">한솥의 약속</a></li>
                                <li><a href="/hansot/vision">한솥의 비전</a></li>
                                <li><a href="/hansot/history">연혁&amp;수상</a></li>
                                <li><a href="/hansot/news_list">한솥 NEWS</a></li>
                                <li><a href="/hansot/location">오시는 길</a></li>
                                <li><a href="/footer/faq_list">고객센터</a></li>
                                <li class="h_last"><a href="/footer/incruit">인재채용</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--// gnb -->
        <!-- pc:bg -->
        <div class="bg_layer" style="opacity: 0; height: 0px;"></div>
        <!-- //pc:bg -->
        <!-- mobile_btn -->
        <div class="mobile_menu_btn">
            <div class="hamburger" id="hamburger-6">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
        <!-- //mobile_btn -->
    </div>
    <!--// header content 😈-->
    </div>
</header>
<!--//😈header-->


<!--container 시작😀-->
<div id="container" class="main_page">
        
    <div class="content main">
        <!-- group_order -->
        <section class="main_wrap">


            <!-- main_visual => carosusel 부분🐳 -->
            <div class="main_visual_wrap mo_tr swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper" style="transform: translate3d(-5754px, 0px, 0px); transition-duration: 0ms;"><div class="visual_bg vi_01 swiper-slide swiper-slide-duplicate" data-mobile-url="https://www.hsd.co.kr/images/ba22f59399ea4af7b4decf532551003720220831042145.jpg" data-web-url="https://www.hsd.co.kr/images/84da6dc781de4239a66df7c11b55677720220831042141.jpg" data-swiper-slide-index="6" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/84da6dc781de4239a66df7c11b55677720220831042141.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/franchise/briefing" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <!-- visual01 -->
                    <div class="visual_bg vi_01 swiper-slide" data-mobile-url="images/carousel/carousel7.jpg" data-web-url="img/" data-swiper-slide-index="0" style="width: 959px; background-image: url(&quot;images/carousel/carousel7.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/event/event_view/736?pageSize=12&amp;pageNo=1&amp;cate=&amp;_csrf=fa7ca412-0217-419c-8d82-31a08ed3f50e" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <div class="visual_bg vi_01 swiper-slide" data-mobile-url="https://www.hsd.co.kr/images/0ed8386796f440bf87d5ee3b136514b620220831041926.jpg" data-web-url="https://www.hsd.co.kr/images/4767c069fb8a423292fb7aaf4c1e474120220831041921.jpg" data-swiper-slide-index="1" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/4767c069fb8a423292fb7aaf4c1e474120220831041921.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/event/event_view/737?pageSize=12&amp;pageNo=1&amp;cate=&amp;_csrf=fa7ca412-0217-419c-8d82-31a08ed3f50e" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <div class="visual_bg vi_01 swiper-slide" data-mobile-url="https://www.hsd.co.kr/images/28fb6de20d694d249ad3648c1a12f9a320220608063440.jpg" data-web-url="https://www.hsd.co.kr/images/2162bc8e12d6483cb1b02a72477996a420220608063435.jpg" data-swiper-slide-index="2" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/2162bc8e12d6483cb1b02a72477996a420220608063435.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/event/event_view/716?pageSize=12&amp;pageNo=1&amp;cate=&amp;_csrf=5ee35556-36c5-4a29-85e6-0674bbcc488b" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <div class="visual_bg vi_01 swiper-slide" data-mobile-url="https://www.hsd.co.kr/images/f8a3c65ac30c4bc9b0d104a22b881f0020220729023249.jpg" data-web-url="https://www.hsd.co.kr/images/6f572c72358d4d489686b15bf47692f720220729023244.jpg" data-swiper-slide-index="3" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/6f572c72358d4d489686b15bf47692f720220729023244.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/menu/menu_order" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <div class="visual_bg vi_01 swiper-slide swiper-slide-prev" data-mobile-url="https://www.hsd.co.kr/images/5b67113ecf6f4b1cb0331ff162469b8720220630051804.jpg" data-web-url="https://www.hsd.co.kr/images/6144674e33ff440baa29449a61c57f5820220831042116.jpg" data-swiper-slide-index="4" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/6144674e33ff440baa29449a61c57f5820220831042116.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/event/event_view/702?pageSize=12&amp;pageNo=1&amp;cate=&amp;_csrf=3964c806-0b7b-43a7-b5f8-992209e14ec5" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <div class="visual_bg vi_01 swiper-slide swiper-slide-active" data-mobile-url="https://www.hsd.co.kr/images/fdb6af1f62914f1c8ba4aed49feacfe120220430112830.jpg" data-web-url="https://www.hsd.co.kr/images/5e82ed65ade14006a56c28871629128920220430112828.jpg" data-swiper-slide-index="5" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/5e82ed65ade14006a56c28871629128920220430112828.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/event/event_view/694?pageSize=12&amp;pageNo=1&amp;cate=&amp;_csrf=3964c806-0b7b-43a7-b5f8-992209e14ec5" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <div class="visual_bg vi_01 swiper-slide swiper-slide-next" data-mobile-url="https://www.hsd.co.kr/images/ba22f59399ea4af7b4decf532551003720220831042145.jpg" data-web-url="https://www.hsd.co.kr/images/84da6dc781de4239a66df7c11b55677720220831042141.jpg" data-swiper-slide-index="6" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/84da6dc781de4239a66df7c11b55677720220831042141.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/franchise/briefing" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div>
                    <!-- //visual01 -->
                <div class="visual_bg vi_01 swiper-slide swiper-slide-duplicate" data-mobile-url="https://www.hsd.co.kr/images/66a047876ecd454ab1d7c4bb1bd6a2b820220831042003.jpg" data-web-url="https://www.hsd.co.kr/images/74a43c96b6f64a589ba10f6b0bf2492d20220831042000.jpg" data-swiper-slide-index="0" style="width: 959px; background-image: url(&quot;https://www.hsd.co.kr/images/74a43c96b6f64a589ba10f6b0bf2492d20220831042000.jpg&quot;);">
                        <a href="https://www.hsd.co.kr/event/event_view/736?pageSize=12&amp;pageNo=1&amp;cate=&amp;_csrf=fa7ca412-0217-419c-8d82-31a08ed3f50e" class="view_blind"><span class="blind">자세히보기</span></a>
                        </div></div>
                <!-- Pagination -->
                <div class="pagi_wrap">
                    <div class="pagi_cont">
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
                        <!-- play,stop -->
                        <div class="btn_ps">
                            <a href="javascript:toggleSwiperAutoplay();"><span class="blind">swiper start/stop</span></a>
                        </div>
                        <!-- //play,stop -->
                    </div>
                </div>
                <!-- //Pagination -->
            </div>

            <!-- //main_visual -->
            <!-- content01 -->
            <div class="main_cont_01">
                <div class="main_cont_wrap mo_tr">
                    <!-- 전체메뉴 -->
                    <div class="area_sc first">
                        <a href="/menu/menu_list" class="sc_link"></a>
                        <figure class="sc_wrap">
                            <span class="sc_img">
                                <img src="images/main01.jpg" alt="전체메뉴 이미지"style="width: 570px;">
                            </span>
                            <figcaption>
                                <p class="sc_tit fz_02">
                                    <span class="s_block">가격 이상의 가치가 담긴</span>
                                    <span class="s_block">다양한 메뉴를 확인해 보세요</span>
                                </p>
                                <span class="sc_txt">한솥 메뉴</span>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- //전체메뉴 -->
                    <!-- 주변점포찾기 -->
                    <div class="area_sc">
                        <a href="/store/store_find" class="sc_link"></a>
                        <figure class="sc_wrap">
                            <span class="sc_img">
                                <img src="images/main02.jpg" alt="주변점포찾기 이미지"style="width: 570px;>
                            </span>
                            <figcaption>
                                <p class="sc_tit fz_02">
                                    <span class="s_block">갓 지은 한끼가 기다리고 있는</span>
                                    <span class="s_block">가까운 한솥 매장을 찾아보세요</span>
                                </p>
                                <span class="sc_txt">주변점포찾기</span>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- //주변점포찾기 -->
                </div>
            </div>
            <!-- //content01 -->
            <!-- content02 -->
            <div class="main_cont_02">
                <div class="main_cont_wrap mo_tr">
                    <!-- 한솥 intro -->
                    <div class="main_intro">
                        <h2 class="h2_int fz_01">
                            <span class="s_block">가맹점주에게도</span>
                            <span class="s_block">든든한 한솥입니다</span>
                        </h2>
                        <p class="int_tit">
                            <span class="s_block">점주님들의 꿈을 실현시켜 드리기 위해</span>
                            <span class="s_block">가맹점주와 성공까지 동행하는 한솥!</span>
                            <span class="s_block">상담부터 개업까지 모든 희로애락을 함께 합니다.</span>
                        </p>
                    </div>
                    <!-- //한솥 intro -->
                    <div class="to_wrap">
                        <!-- why한솥 가맹점 -->
                        <div class="area_sc first">
                            <a href="/franchise/hansot_store" class="sc_link"></a>
                            <figure class="sc_wrap">
                                <span class="sc_img">
                                    <img src="images/main03.jpg" alt="why한솥 가맹점 이미지"style="width: 370px;">>
                                </span>
                                <figcaption>
                                    <p class="sc_tit fz_02">
                                        <span class="s_block">한솥은 언제나 고객과 점주님들의</span>
                                        <span class="s_block">이익을 먼저 생각합니다</span>
                                    </p>
                                    <span class="sc_txt">Why 한솥 가맹점</span>
                                </figcaption>
                            </figure>
                        </div>
                        <!-- //why한솥 가맹점 -->
                        <!-- 성공수기 -->
                        <div class="area_sc">
                            <a href="/franchise/success" class="sc_link"></a>
                            <figure class="sc_wrap">
                                <span class="sc_img">
                                    <img src="/images/main04.jpg" alt="성공수기 이미지" style="width: 370px;">
                                </span>
                                <figcaption>
                                    <p class="sc_tit fz_02">
                                        <span class="s_block">한솥과 함께하는 가맹점주들의</span>
                                        <span class="s_block">성공 스토리입니다</span>
                                    </p>
                                    <span class="sc_txt">성공수기</span>
                                </figcaption>
                            </figure>
                        </div>
                        <!-- //성공수기 -->
                    </div>
                </div>
            </div>
            <!-- //content02 -->
            <!-- content03 -->
            <div class="main_cont_03">
                <!-- full bg -->
                <div class="main_hansot">
                    <div class="main_hansot_bg">
                    </div>
                    <!-- content -->
                    <div class="main_cont_wrap">
                        <!-- text -->
                        <div class="main_info mo_version">
                            <h2 class="h2_info fz_01">
                                <span class="s_block">든든한 솥밥을 위해</span>
                                <span class="s_block">한솥이 지키고,</span>
                                <span class="s_block">키워가는 것들</span>
                            </h2>
                            <p class="info_tit">
                                <span class="s_block">한솥은 '따끈한 도시락으로 지역사회에 공헌한다' 라는</span>
                                <span class="s_block">기업이념 아래, 고객 이익을 최우선으로 하며 엄선된</span>
                                <span class="s_block">좋은 식재료만 사용하는 대한민국 외식종합기업 시장을</span>
                                <span class="s_block">리드하는 글로벌 종합외식기업 입니다.</span>
                            </p>
                            <!-- btn -->
                            <div class="btn_wrap btn_info">
                                <span class="btn btn_st04"><a href="/brand/philosophy" class="c_06">브랜드 철학</a></span>
                            </div>
                            <!-- //btn -->
                        </div>
                        <!-- //text -->
                    </div>
                    <!-- content -->
                </div>
                <!-- //full bg -->
            </div>
            <!-- //content03 -->
            <!-- content04 -->
            <div class="main_cont_04">
                <div class="main_cont_wrap">
                    <div class="area_sc">
                        <a href="/menu/material" class="sc_link"></a>
                        <figure class="sc_wrap">
                            <span class="sc_img">
                                <img src="/images/main05.jpg" alt="식재료 이미지"style="width: 800px;">>
                            </span>
                            <figcaption>
                                <h2 class="h2_mt fz_01">
                                    <span class="s_block">식재료 앞에서는</span>
                                    <span class="s_block">한없이</span>
                                    <span class="s_block">까탈스럽습니다</span>
                                </h2>
                                <p class="sc_tit">
                                    <span class="s_block">맑고 깨끗한 자연 환경속에서 재배된 식재료가</span>
                                    <span class="s_block">아니면 한솥이 될 수 없습니다.</span>
                                    <span class="s_block">모든 식재료는 고객분들이 안심하고 드실 수 있도록</span>
                                    <span class="s_block">엄격한 기준 아래 선별됩니다.</span>
                                </p>
                                <span class="sc_txt">식재료이야기</span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <!-- //content04 -->
        </section>
        <!-- //group_order -->
    </div>
    
    <!-- more_cont -->
    <div class="conts_more">
        <h2 class="more_tit">더 많은 이야기</h2>
        <ul style="padding-left: 0px;">
            <li>
                <a href="/hansot/promise" class="more_link"></a>
                <figure>
                    <span class="more_img">
                        <img src="/images/main06.jpg" alt="한솥의 약속">
                    </span>
                    <figcaption>
                        <h3 class="h3_tit">한솥의 약속</h3>
                        <h3 class="h3_tit_o">한솥의 약속</h3>
                    </figcaption>
                </figure>
            </li>
            <li>
                <a href="/event/event_list" class="more_link"></a>
                <figure>
                    <span class="more_img">
                        <img src="/images/main07.jpg" alt="온라인 이벤트">
                    </span>
                    <figcaption>
                        <h3 class="h3_tit">온라인 이벤트</h3>
                        <h3 class="h3_tit_o">온라인 이벤트</h3>
                    </figcaption>
                </figure>
            </li>
            <li>
                <a href="/hansot/news_list" class="more_link"></a>
                <figure>
                    <span class="more_img">
                        <img src="/images/main08.jpg" alt="한솥 NEWS">
                    </span>
                    <figcaption>
                        <h3 class="h3_tit">한솥 NEWS</h3>
                        <h3 class="h3_tit_o">한솥 NEWS</h3>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <!--// more_cont-->
    <script type="text/javascript">
        //mainSwiper
        var mainSwiper = new Swiper('.main_visual_wrap.swiper-container', {
            simulateTouch: false,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            loop: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false
        });
    
        // Toggle mainSwiper Autoplay
        function toggleSwiperAutoplay() {
            if(mainSwiper.autoplaying) {
                // 중단
                mainSwiper.stopAutoplay();
                $('.btn_ps').addClass('on');
            } else {
                // 시작
                mainSwiper.startAutoplay();
                $('.btn_ps').removeClass('on');
            }
        }
    </script>
    
        </div>
<!--//container end😈-->



<!--footer😀-->
<footer id="footer" style="height: 500px;" >
    <div class="ft_content mo_version">

        <!-- family goods -->
        <div class="ft_menu">
            <ul>
                <li class="first_be off"><a href="/footer/incruit">인재채용</a></li>
                <li class="off"><a href="/footer/partners">협력업체등록</a></li>
                <li class="mo_bl"><a href="/footer/notice_list">공지사항</a></li>
                <li><a href="/footer/faq_list">고객 센터</a></li>
                <li class="mo_bl"><a href="/footer/policy"><strong>개인정보처리방침</strong></a></li>
                <li><a href="/footer/agreement">이용약관</a></li>
            </ul>
        </div>
        <!--// family goods -->
		<div class="mark_webaward"><p>
            <span class="blind">web award korea 2017 프랜차이즈분야 대상2017</span></p></div><!-- 2018-01-11웹어워드마크 -->
        <!-- info -->
        <div class="ft_info_wrap">
            <!-- pc -->
            <div class="ft_info pc_info">
                <span class="first_be">대표이사  이영덕, 이하림</span>
                <span>사업자등록번호  214-81-96569</span>
                <span>서울시 강남구 강남대로 318(역삼동) 타워837빌딩 8,9층</span>
                <span>T.  02-585-1114</span>
                <span>F.  02-598-1116</span>
                <span class="first_be">E.  webmaster@hsd.co.kr</span>
                <span>한솥 도시락 고객센터  02-585-1114</span>
                <span>전국창업설명회  02-585-1114</span>
                <span>단체주문  1644-3288</span>
            </div>
            <!-- //pc -->
            <!-- mobile -->
            <div class="ft_info mo_info">
                <div class="mo_info_list">
                    <p class="btn_toggle">
                        <a href="#none">한솥 사업자 정보</a>
                    </p>
                    <div class="mo_info_on" style="display: none;">
                        <span class="mo_bl">대표이사  이영덕, 이하림</span>
                        <span>사업자등록번호  214-81-96569</span>
                        <br>
                        <span class="mo_bl">서울시 강남구 강남대로 318(역삼동) 타워837빌딩 8,9층</span>
                        <br>
                        <span class="mo_bl">T.  02-585-1114</span>
                        <span>F.  02-598-1116</span>
                        <br>
                        <span class="mo_bl">E.  webmaster@hsd.co.kr</span>
                        <div class="mo_info_call">
                            <dl>
                                <dt>한솥 고객센터</dt>
                                <dd>02-585-1114</dd>
                            </dl>
                            <dl>
                                <dt>전국창업설명회</dt>
                                <dd>02-585-1114</dd>
                            </dl>
                            <dl>
                                <dt>단체주문</dt>
                                <dd>1644-3288</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //mobile -->

            <p class="copyright">COPYRIGHT<span>©</span>㈜한솥. ALL RIGHTS RESERVED.</p>

            <div class="ft_sns">
                <a href="https://www.instagram.com/hansot_official/" target="_blank" title="새 창 열림" class="sns_insta_02"><span class="blind">instagram</span></a>
                <a href="https://www.facebook.com/hansotOfficial/?ref=ts&amp;fref=ts" target="_blank" class="sns_face_02" title="새 창 열림"><span class="blind">facebook</span></a>
            </div>
        </div>
        <!--// info -->
    </div>
</footer>
<!--footer end😈-->
</html>