<html lang="ko"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <!-- SNS LINK -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <!--// SNS LINK -->

    <meta name="_csrf_parameter" content="_csrf"><meta name="_csrf_header" content="X-CSRF-TOKEN"><meta name="_csrf" content="38de935b-6908-45ec-9ec5-1eb00b25dcaf"><title>전체메뉴 &gt; 한솥 메뉴</title>
    
    <!--favicon-->
    <link rel="icon" sizes="60x60" href="images/favicon.png">

<link rel="stylesheet" type="text/css" href="stylesheets/ui.common.css">
<link rel="stylesheet" type="text/css" href="stylesheets/swiper.min.css">
<!--[if gte IE 9 ]><link rel="stylesheet" href="stylesheets/ui.ie9.css" type="text/css" /><![endif]-->

<style>
    .file_input {
        font-size:45px;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin:0;
        padding:0;
        border:0;
        z-index:-1;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        -khtml-opacity:0;
        -moz-opacity:0;
    }
</style>

<!--ejs에 JS 연결-->
<script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-43326926-1&amp;l=dataLayer&amp;cx=c"></script><script src="https://connect.facebook.net/signals/config/241666853119648?v=2.9.79&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" src="javascripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui-1.12.1.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/ui.common.js"></script>
<script type="text/javascript" src="javascripts/swiper.jquery.min.js"></script>
<script type="text/javascript" src="javascripts/TweenMax.min.js"></script>

<script type="text/javascript" src="javascripts/tss.js"></script>
<script type="text/javascript" src="javascripts/tss.util.js"></script>

<!-- validatation check -->
<script type="text/javascript" src="javascripts/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="javascripts/validation/messages_ko.min.js"></script>
<script type="text/javascript" src="javascripts/validate.js"></script>

<!-- fileupload -->
<script type="text/javascript" src="javascripts/fileupload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="javascripts/fileupload/jquery.fileupload.js"></script>

<script type="text/javascript" src="javascripts/hansot.common.js"></script>

<!-- naver map api
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=1MATn4mHBIsSKNHepOXg&submodules=geocoder"></script>
-->
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=azbg6j3r3x"></script>

<!-- moment js api -->
<script type="text/javascript" src="javascripts/moment.js"></script>
<!-- lodash js api -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

<script>
    $(function () {
        var token = $("meta[name='_csrf']").attr('content');
        var header = "X-CSRF-TOKEN";
        $(document).ajaxSend(function(event, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
        $(document).ajaxError(function(event, xhr, options) {
            if(xhr.status === 401) {
                console.log(xhr);
                if(tss.util.confirm('로그인이 필요합니다.')) {
                    tss.util.auth();
                }
            }
            if(xhr.status === 500 || xhr.status === 400) {
                console.log("오류가 발생했습니다.");
            }
        });
    });
</script>
<script type="text/javascript">
    </script>

    

    <link rel="stylesheet" type="text/css" href="stylesheets/ui.menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="javascripts/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-43326926-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43326926-1');

	  gtag('event', 'view_item_list', {'event_category' : 'engagement',});
    </script>

    <!-- Global site tag (gtag.js) - AdWords: 864658366 -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-864658366"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-864658366');
    </script>

    <!-- kakao pixcel -->
    <script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script>
    <script type="text/javascript">
    kakaoPixel('5575357302971415199').pageView();
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '241666853119648');
    fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=241666853119648&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->


<meta http-equiv="origin-trial" content="A7bG5hJ4XpMV5a3V1wwAR0PalkFSxLOZeL9D/YBYdupYUIgUgGhfVJ1zBFOqGybb7gRhswfJ+AmO7S2rNK2IOwkAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjY5NzY2Mzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><script type="text/javascript" async="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/864658366/?random=1662453268628&amp;cv=9&amp;fst=1662453268628&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=824&amp;u_aw=1536&amp;u_cd=24&amp;u_his=26&amp;u_tz=540&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;gtm=2oa8v0&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.hsd.co.kr%2Fmenu%2Fmenu_list&amp;ref=https%3A%2F%2Fwww.hsd.co.kr%2Fbrand%2Fstory&amp;tiba=%EC%A0%84%EC%B2%B4%EB%A9%94%EB%89%B4%20%3E%20%ED%95%9C%EC%86%A5%20%EB%A9%94%EB%89%B4&amp;auid=11267568.1662446448&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script></head>
<body ontouchstart="" class="vsc-initialized" cz-shortcut-listen="true">
<!-- wrap s -->
<div id="wrap" class="">
    <!-- inc header s -->
    <!-- header -->
<header id="header">
    <!-- header flex-->
    <div class="hd_flex">
        <div class="area_flex" style="display: block;">
            <ul>
                <li>
                    <a href="/login">로그인</a>
                    </li>
                <li>
                    <a href="/join">회원가입</a>
                    </li>
                <li class="sns_insta">
                    <a href="https://www.instagram.com/hansot_official/" target="_blank" title="새 창 열림"><span class="blind">instagram</span></a>
                </li>
                <li class="sns_face">
                    <a href="https://www.facebook.com/hansotOfficial/?ref=ts&amp;fref=ts" target="_blank" title="새 창 열림"><span class="blind">facebook</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- //header flex -->

    <!-- header content -->
    <div class="hd_fixed" style="display: block;">
        <div class="hd_content">
            <div class="logo">
                <h1><a href="/"><span class="blind">한솥</span></a></h1>
            </div>
            <!-- gnb -->
            <section id="gnb" class="area_gnb mo_version">
                <!-- 모바일 로그인/회원가입 -->
                <div class="m_area_flex">
                    <ul>
                        <li>
                            <a href="/login">로그인</a>
                            </li>
                        <li>
                            <a href="/join/join_step1">회원가입</a>
                            </li>
                    </ul>
                </div>
                <!-- //모바일 로그인/회원가입 -->

                <div class="gnb_menu">
                    <ul class="" style="height: 60px;">
                        <li class="dp1">
                            <p class="dp1_tit"><a href="#none">한솥</a></p>
                            <div class="dp2" style="display: none;">
                                <ul>
                                    <li class=""><a href="/brand/story">브랜드 스토리</a></li>
                                    <li><a href="/brand/philosophy">브랜드 철학</a></li>
                                    <li><a href="/brand/legacy">브랜드 유산</a></li>
                                    </ul>
                            </div>
                        </li>
                        <li class="dp1">
                            <p class="dp1_tit"><a href="#none">ESG</a></p>
                            <div class="dp2" style="display: none;">
                                <ul>
                                    <li class=""><a href="/esg/management">ESG경영이란?</a></li>
                                    <li><a href="/esg/environment">환경보호(Environment)</a></li>
                                    <li><a href="/hansot/social">사회공헌(Social)</a></li>
                                    <li><a href="/esg/management">윤리경영(Governance)</a></li>
                                    <li><a href="/esg/sdgs">세계 40대 브랜드 선정</a></li>

                                    </ul>
                            </div>
                        </li>
                        <li class="dp1">
                            <p class="dp1_tit"><a href="#none">MENU</a></p>
                            <div class="dp2" style="display: none;">
                                <ul>
                                    <li><a href="/menu/menu_list">전체메뉴</a></li>
                                    <li><a href="/menu/material">식재료 이야기</a></li>
                                    <li><a href="/menu/chancha">페루찬차마요커피</a></li>
                                    <li><a href="/menu/menu_order">단체 주문</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dp1">
                            <p class="dp1_tit"><a href="#none">STORE</a></p>
                            <div class="dp2" style="display: none;">
                                <ul>
                                    <li><a href="/store/store_find">주변점포찾기</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dp1">
                            <p class="dp1_tit"><a href="#none">EVENT</a></p>
                            <div class="dp2" style="display: none;">
                                <ul>
                                    <li><a href="/event/event_list">이 달의 이벤트</a></li>
                                    <li><a href="/event/store_event_list">신규점 오픈이벤트</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dp1">
                            <p class="dp1_tit"><a href="#none">FRANCHISE</a></p>
                            <div class="dp2" style="display: none;">
                                <ul>
                                    <li><a href="/franchise/hansot_store">Why 한솥 가맹점</a></li>
                                    <li><a href="/franchise/success">성공수기</a></li>
                                    <li><a href="/franchise/process">창업개설절차</a></li>
                                    <li><a href="/franchise/calc">예상 창업 비용</a></li>
                                    <li><a href="/franchise/qna">창업문의</a></li>
                                    <li><a href="/franchise/briefing">창업설명회 일정·신청</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dp1">
                            <p class="dp1_tit"><a href="#none">HANSOT</a></p>
                            <div class="dp2" style="display: none;">
                                <ul>
                                    <li><a href="/hansot/promise">한솥의 약속</a></li>
                                    <li><a href="/hansot/vision">한솥의 비전</a></li>
                                    <li><a href="/hansot/history">연혁&amp;수상</a></li>
                                    <li><a href="/hansot/news_list">한솥 NEWS</a></li>
                                    <li><a href="/hansot/location">오시는 길</a></li>
                                    <li><a href="/footer/faq_list">고객센터</a></li>
                                    <li class="h_last"><a href="/footer/incruit">인재채용</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!--// gnb -->
            <!-- pc:bg -->
            <div class="bg_layer" style="opacity: 0; height: 0px;"></div>
            <!-- //pc:bg -->
            <!-- mobile_btn -->
            <div class="mobile_menu_btn">
                <div class="hamburger" id="hamburger-6">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <!-- //mobile_btn -->
        </div>
        <!--// header content -->
    </div>
</header>
<!--// header -->

<!--// inc header e -->

    <!-- popup -->
<!-- container s -->
    <div id="container" class="sub_page">
        
<div class="content menu">
    <section class="menu_all">
        <!-- 한솥 메뉴 -->
        <div class="menu_all_wrap tab_st01">
            <!-- title -->
            <div class="title">
                <h2 class="h2_tit h2_02">한솥 메뉴</h2>
                <div class="tab_wrap">
                    <ul class="tab_menu col_02">
                        <li class="active"><a href="#none">전체메뉴</a></li>
                        <li><a href="/menu/menu_keyword">추천 키워드</a></li>
                    </ul>
                </div>
            </div>
            <!-- //title -->
            <!-- 메뉴 cont-->
            <div class="hansot_menu">
                <!-- pc:left -->
                <div class="left_wrap">
                    <!-- lnb -->
                    <div class="lnb">
                        <div class="lnb_inner">
                            <ul>
                                <!-- 전체보기 -->
                                <li class="dp1 dp_all active">
                                    <p class="dp1_tit"><a href="#none" onclick="allMenu();return false;">전체보기</a></p>
                                </li>
                                <!-- //전체보기 -->
                                <li class="dp1 " id="cate_1" idx="1">
                                    <p class="dp1_tit"><a href="#none" onclick="return false;">신메뉴/행사 </a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li id="child_49"><a href="#none" onclick="showMenuList('1', '49');return false;">신메뉴</a></li>
                                            </ul>
                                    </div>
                                    </li>
                                <li class="dp1 " id="cate_2" idx="2">
                                    <p class="dp1_tit"><a href="#none" onclick="return false;">프리미엄·고메이</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li id="child_24"><a href="#none" onclick="showMenuList('2', '24');return false;">프리미엄</a></li>
                                            </ul>
                                    </div>
                                    </li>
                                <li class="dp1 " id="cate_3" idx="3">
                                    <p class="dp1_tit"><a href="#none" onclick="return false;">사각도시락</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li id="child_9"><a href="#none" onclick="showMenuList('3', '9');return false;">고기고기시리즈</a></li>
                                            <li id="child_10"><a href="#none" onclick="showMenuList('3', '10');return false;">모둠시리즈</a></li>
                                            <li id="child_46"><a href="#none" onclick="showMenuList('3', '46');return false;">정식시리즈</a></li>
                                            </ul>
                                    </div>
                                    </li>
                                <li class="dp1 " id="cate_4" idx="4">
                                    <p class="dp1_tit"><a href="#none" onclick="return false;">보울도시락</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li id="child_12"><a href="#none" onclick="showMenuList('4', '12');return false;">마요</a></li>
                                            <li id="child_13"><a href="#none" onclick="showMenuList('4', '13');return false;">카레</a></li>
                                            <li id="child_14"><a href="#none" onclick="showMenuList('4', '14');return false;">볶음밥</a></li>
                                            <li id="child_15"><a href="#none" onclick="showMenuList('4', '15');return false;">프리미엄 찌개/탕</a></li>
                                            <li id="child_16"><a href="#none" onclick="showMenuList('4', '16');return false;">덮밥</a></li>
                                            <li id="child_17"><a href="#none" onclick="showMenuList('4', '17');return false;">비빔밥</a></li>
                                            <li id="child_32"><a href="#none" onclick="showMenuList('4', '32');return false;">어린이도시락</a></li>
                                            <li id="child_51"><a href="#none" onclick="showMenuList('4', '51');return false;">파스타</a></li>
                                            </ul>
                                    </div>
                                    </li>
                                <li class="dp1 " id="cate_5" idx="5">
                                    <p class="dp1_tit"><a href="#none" onclick="return false;">실속반찬/사이드</a></p>
                                    <div class="dp2">
                                        <ul>
                                            <li id="child_18"><a href="#none" onclick="showMenuList('5', '18');return false;">실속반찬</a></li>
                                            <li id="child_19"><a href="#none" onclick="showMenuList('5', '19');return false;">스낵 시리즈</a></li>
                                            <li id="child_21"><a href="#none" onclick="showMenuList('5', '21');return false;">간식안주 시리즈</a></li>
                                            <li id="child_22"><a href="#none" onclick="showMenuList('5', '22');return false;">미니반찬</a></li>
                                            <li id="child_47"><a href="#none" onclick="showMenuList('5', '47');return false;">밥</a></li>
                                            <li id="child_50"><a href="#none" onclick="showMenuList('5', '50');return false;">디저트</a></li>
                                            </ul>
                                    </div>
                                    </li>
                                </ul>
                        </div>
                        <!-- mobile_close -->
                        <div class="lnb_btn_close">
                            <a href="#none"><span class="blind">close</span></a>
                        </div>
                        <!-- ///mobile_close -->
                    </div>
                    <!-- //lnb -->
                    <!-- mobile dim -->
                    <div class="dim"></div>
                    <!-- mobile dim -->
                    <!-- mobile -->
                    <div class="mo_title mo_version">
                        <h3 class="h3_tit"><span>전체보기</span></h3>
                        <div class="lnb_btn">
                            <a href="#none"><span>목록</span></a>
                        </div>
                    </div>
                    <!-- mobile -->
                    <!-- banner -->
                    <div class="mo_banner mo_version">
                        <a href="https://www.hsd.co.kr/event/event_view/694?pageSize=12&amp;pageNo=1&amp;cate=&amp;_csrf=a22eed05-69aa-426f-8fb0-3fb62f541f22"><img src="https://www.hsd.co.kr/images/27c2e4785906426aa94633e0ea20e98320220411090317.jpg" alt="banner"></a>
                        </div>
                    <!-- //banner -->
                    <!-- 키워드 -->
                    <div class="keyword mo_version">
                        <h3 class="h3_tit">
                            당신을 위한 <em class="emphasis">#추천 키워드</em>
                        </h3>
                        <ul>
                            <li><a href="/menu/menu_keyword?keyword=1">#한솥의 베스트 셀러</a></li>
                            <li><a href="/menu/menu_keyword?keyword=11">#따끈한 집밥이 생각날 때</a></li>
                            <li><a href="/menu/menu_keyword?keyword=12">#화끈하게 스트레스 날리기</a></li>
                            <li><a href="/menu/menu_keyword?keyword=13">#건강을 위해</a></li>
                            <li><a href="/menu/menu_keyword?keyword=15">#반찬만 필요할 때</a></li>
                            <li><a href="/menu/menu_keyword?keyword=16">#추천 단체도시락</a></li>
                            </ul>
                    </div>
                    <!-- //키워드 -->
                </div>
                <!-- //pc:left -->
                <!-- menu_list -->
                <div class="menu_list_wrap">
                    <div id="menu_cont"><div class="list_wrap" id="catelist_49">    <p class="dp">신메뉴/행사 </p>    <h3 class="h3_tit fz_01">신메뉴</h3>    <ul class="menu_cont">        <li class="item" id="menuList_455">            <div class="item-spacer">                <a href="javascript:;" onclick="goDetail('1', '49', '455')" class="item-cont"></a>                <div class="item-img">                    <img src="https://www.hsd.co.kr/images/437e00c4d4084cbd9ddb23876b841c0020220831040321.jpg" alt="아보카도 게맛살 명란비빔밥">                </div>                <div class="item-icon">                    <div class="icon icon-new">                        <span>NEW</span>                    </div>                </div>                <div class="item-text">                    <h4 class="h fz_03">아보카도 게맛살 명란비빔밥</h4>                    <div class="item-price">                        <span class="blind">가격: </span><strong>6,500</strong>원                    </div>                </div>            </div>        </li>        <li class="item" id="menuList_454">            <div class="item-spacer">                <a href="javascript:;" onclick="goDetail('1', '49', '454')" class="item-cont"></a>                <div class="item-img">                    <img src="https://www.hsd.co.kr/images/f29d5c83358d42129ee137ae2c45a6e920220831035555.jpg" alt="아보카도 소고기 명란비빔밥">                </div>                <div class="item-icon">                    <div class="icon icon-new">                        <span>NEW</span>                    </div>                </div>                <div class="item-text">                    <h4 class="h fz_03">아보카도 소고기 명란비빔밥</h4>                    <div class="item-price">                        <span class="blind">가격: </span><strong>6,500</strong>원                    </div>                </div>            </div>        </li>        <li class="item" id="menuList_434">            <div class="item-spacer">                <a href="javascript:;" onclick="goDetail('1', '49', '434')" class="item-cont"></a>                <div class="item-img">                    <img src="https://www.hsd.co.kr/images/87e19d0a3c27492db1affc62e5eb60f120220831040940.jpg" alt="핫 치즈 닭갈비덮밥">                </div>                <div class="item-icon">                    <div class="icon icon-new">                        <span>NEW</span>                    </div>                </div>                <div class="item-text">                    <h4 class="h fz_03">핫 치즈 닭갈비덮밥</h4>                    <div class="item-price">                        <span class="blind">가격: </span><strong>5,900</strong>원                    </div>                </div>            </div>        </li>        <li class="item" id="menuList_433">            <div class="item-spacer">                <a href="javascript:;" onclick="goDetail('1', '49', '433')" class="item-cont"></a>                <div class="item-img">                    <img src="https://www.hsd.co.kr/images/5c75b23a1f684691b1e17acbc4666c2420220831041106.jpg" alt="오리지널 치즈 닭갈비덮밥">                </div>                <div class="item-icon">                    <div class="icon icon-new">                        <span>NEW</span>                    </div>                </div>                <div class="item-text">                    <h4 class="h fz_03">오리지널 치즈 닭갈비덮밥</h4>                    <div class="item-price">                        <span class="blind">가격: </span><strong>5,900</strong>원                    </div>                </div>            </div>        </li>    </ul></div></div>

                    <!-- 더보기 btn -->
                    <div class="btn_wrap btn_more" style="" id="btn_more">
                        <span class="btn btn_st04">
                            <a href="#none" class="c_05" onclick="more();return false;">더 보기</a>
                        </span>
                    </div>
                    <!-- //더보기 btn -->
                    <!-- 안내문구 -->
                    <div class="menu_guidance fz_03">
                        <p>한솥의 모든 메뉴는 1시간 이내에 드시는 것이 가장 맛있습니다.</p>
                    </div>
                    <!-- //안내문구 -->
                </div>
                <!-- //menu_list -->
            </div>
            <!-- //메뉴 cont -->
        </div>
        <!-- //한솥 메뉴 -->
    </section>
</div>

<!-- more_cont -->
<div class="conts_more">
    <h2 class="more_tit">더 많은 이야기</h2>
    <ul>
        <li>
            <a href="/store/store_find" class="more_link"></a>
            <figure>
                <span class="more_img">
                    <img src="/assets/images/common/more_store.jpg" alt="한솥 STORE">
                </span>
                <figcaption>
                    <h3 class="h3_tit">한솥 STORE</h3>
                    <h3 class="h3_tit_o">한솥 STORE</h3>
                </figcaption>
            </figure>
        </li>
        <li>
            <a href="/event/event_list" class="more_link"></a>
            <figure>
                <span class="more_img">
                    <img src="/assets/images/common/more_event.jpg" alt="이 달의 이벤트">
                </span>
                <figcaption>
                    <h3 class="h3_tit">이 달의 이벤트</h3>
                    <h3 class="h3_tit_o">이 달의 이벤트</h3>
                </figcaption>
            </figure>
        </li>
        <li>
            <a href="/event/store_event_list" class="more_link"></a>
            <figure>
                <span class="more_img">
                    <img src="/assets/images/common/more_event_store.jpg" alt="신규점 오픈 이벤트">
                </span>
                <figcaption>
                    <h3 class="h3_tit">신규점 오픈 이벤트</h3>
                    <h3 class="h3_tit_o">신규점 오픈 이벤트</h3>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>
<!--// more_cont-->
<script>
    var currentCate1 = parseInt('');
    if(isNaN(currentCate1)) currentCate1 = 0;
    var currentCate2 = parseInt('');
    if(isNaN(currentCate2)) currentCate2 = 0;
    var nextCate = 0;
    var page = parseInt('');
    if(isNaN(page)) page = 0;
    var idx = parseInt('');
    if(isNaN(idx)) idx = 0;

    $(function(){
        if(currentCate1 > 0 && currentCate2 > 0){
            $(".lnb .dp1.active").removeClass("active");
            $(".lnb .dp2 li.active").removeClass("on");

            $("#cate_"+currentCate1).addClass("active");
            $("#child_"+currentCate2).addClass("on");

            showMenuList(currentCate1, currentCate2);
        }else {
            allMenu();
        }
    });

    // 전체메뉴 보기
    function allMenu() {
        currentCate1 = parseInt($(".lnb .dp1:eq(1)").attr("idx"));
        if(isNaN(currentCate1)) currentCate1 = 0;
        currentCate2 = 0;

        $("#menu_cont").html("");
        showMenuList(currentCate1, 0);
    }

    // 메뉴 리스트 가져오기
    function showMenuList(cate1, cate2) {
        cate1 = parseInt($.trim(cate1));
        cate2 = parseInt($.trim(cate2));
        if(isNaN(cate1)) cate1 = 0;
        if(isNaN(cate2)) cate2 = 0;

        $(".lnb .dp2 li").removeClass("on");
        $("#child_" + cate2).addClass("on");
        $.ajax({
            type: 'POST',
            url: "/api/menu/menu_list/" + cate1 + "/" + cate2,
            headers: {
                Accept : "application/json; charset=utf-8",
                "Content-Type": "application/json; charset=utf-8"
            },
            dataType : "json"
        }).done(function(data) {

            if(data.cate1Info == null) return;

            var cate1Info = data.cate1Info;
            var cate2Info = "";
            var list = "";
            var tails = "";

            $.each(data.subdata, function(key, row){
                cate2Info = row.cate2Info;

                list += '<div class="list_wrap" id="catelist_' + cate2Info.idx + '">';
                list += '    <p class="dp">' + cate1Info.name + '</p>';
                list += '    <h3 class="h3_tit fz_01">' + cate2Info.name + '</h3>';
                list += '    <ul class="menu_cont">';

                $.each(row.goodsList, function(key2, row2) {

                    tails = '?cate1=' + cate1Info.idx + '&cate2=' + cate2Info.idx;
                    if(page > 0) tails += '&page=' + page;


                    list += '        <li class="item" id="menuList_' + row2["idx"] + '">';
                    list += '            <div class="item-spacer">';
                    list += '                <a href="javascript:;" onclick="goDetail(\'' + cate1Info.idx + '\', \'' + cate2Info.idx + '\', \'' + row2["idx"] + '\')" class="item-cont"></a>';
                    list += '                <div class="item-img">';
                    list += '                    <img src="' + row2["imagePath"] + '" alt="' + row2["title"] + '">';
                    list += '                </div>';

                    if(row2["newYn"] == 'Y') {
                        list += '                <div class="item-icon">';
                        list += '                    <div class="icon icon-new">';
                        list += '                        <span>NEW</span>';
                        list += '                    </div>';
                        list += '                </div>';
                    }

                    list += '                <div class="item-text">';
                    list += '                    <h4 class="h fz_03">' + row2["title"] + '</h4>';
                    list += '                    <div class="item-price">';
                    list += '                        <span class="blind">가격: </span><strong>' + tss.util.comma(row2["price"]) + '</strong>원';
                    list += '                    </div>';
                    list += '                </div>';
                    list += '            </div>';
                    list += '        </li>';
                });

                list += '    </ul>';
                list += '</div>';
            });

            // 다음
            if($(".lnb .dp_all").hasClass("active")) {  // 전체보기
                $("#menu_cont").append(list);

                nextCate = $(".lnb li#cate_" + cate1).next().attr("idx");
                if (nextCate === undefined) {
                    $("#btn_more").hide();
                } else {
                    $("#btn_more").show();
                }

            }else{  // 카테고리 단독보기
                $("#menu_cont").html(list);
                $("#btn_more").hide();
            }

            // 모바일에서 gnb 닫기
            if($('.dim').hasClass('on')) {
                $(".lnb_btn_close").trigger('click');
                $("#menu_cont").scrollToMe();
            }

            // 해당메뉴로 이동
            if(idx > 0) {
                $("#menuList_" + idx).scrollToMe();
                idx = 0;
            }

        }).fail(function(data) {
            console.log(data);
            tss.util.alert("일시적인 오류가 발생했습니다.\n화면을 새로고침 한 이후에 다시 시도해 주세요.");
        });
    }

    // 더보기
    function more() {
        page = page + 1;
        showMenuList(nextCate, 0);
    }

    // 상세이동
    function goDetail(cate1, cate2, idx) {

        var tails = "?cate1=" + cate1 + "&cate2=" + cate2;
        location.href = "/menu/menu_view/" + idx + tails;

        // url 변경
        if(typeof(history.pushState) == 'function') {
            var renewURL = location.pathname;
            history.pushState(null, null, renewURL + tails);
        }
    }
</script>

    </div>
    <!--// container e -->

    <!-- inc footer s -->
    <!-- footer -->
<footer id="footer">
    <div class="ft_content mo_version">

        <!-- family goods -->
        <div class="ft_menu">
            <ul>
                <li class="first_be off"><a href="/footer/incruit">인재채용</a></li>
                <li class="off"><a href="/footer/partners">협력업체등록</a></li>
                <li class="mo_bl"><a href="/footer/notice_list">공지사항</a></li>
                <li><a href="/footer/faq_list">고객 센터</a></li>
                <li class="mo_bl"><a href="/footer/policy"><strong>개인정보처리방침</strong></a></li>
                <li><a href="/footer/agreement">이용약관</a></li>
            </ul>
        </div>
        <!--// family goods -->
		<div class="mark_webaward"><p><span class="blind">web award korea 2017 프랜차이즈분야 대상2017</span></p></div><!-- 2018-01-11웹어워드마크 -->
        <!-- info -->
        <div class="ft_info_wrap">
            <!-- pc -->
            <div class="ft_info pc_info">
                <span class="first_be">대표이사  이영덕, 이하림</span>
                <span>사업자등록번호  214-81-96569</span>
                <span>서울시 강남구 강남대로 318(역삼동) 타워837빌딩 8,9층</span>
                <span>T.  02-585-1114</span>
                <span>F.  02-598-1116</span>
                <span class="first_be">E.  webmaster@hsd.co.kr</span>
                <span>한솥 도시락 고객센터  02-585-1114</span>
                <span>전국창업설명회  02-585-1114</span>
                <span>단체주문  1644-3288</span>
            </div>
            <!-- //pc -->
            <!-- mobile -->
            <div class="ft_info mo_info">
                <div class="mo_info_list">
                    <p class="btn_toggle">
                        <a href="#none">한솥 사업자 정보</a>
                    </p>
                    <div class="mo_info_on" style="display: none;">
                        <span class="mo_bl">대표이사  이영덕, 이하림</span>
                        <span>사업자등록번호  214-81-96569</span>
                        <br>
                        <span class="mo_bl">서울시 강남구 강남대로 318(역삼동) 타워837빌딩 8,9층</span>
                        <br>
                        <span class="mo_bl">T.  02-585-1114</span>
                        <span>F.  02-598-1116</span>
                        <br>
                        <span class="mo_bl">E.  webmaster@hsd.co.kr</span>
                        <div class="mo_info_call">
                            <dl>
                                <dt>한솥 고객센터</dt>
                                <dd>02-585-1114</dd>
                            </dl>
                            <dl>
                                <dt>전국창업설명회</dt>
                                <dd>02-585-1114</dd>
                            </dl>
                            <dl>
                                <dt>단체주문</dt>
                                <dd>1644-3288</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //mobile -->

            <p class="copyright">COPYRIGHT<span>©</span>㈜한솥. ALL RIGHTS RESERVED.</p>

            <div class="ft_sns">
                <a href="https://www.instagram.com/hansot_official/" target="_blank" title="새 창 열림" class="sns_insta_02"><span class="blind">instagram</span></a>
                <a href="https://www.facebook.com/hansotOfficial/?ref=ts&amp;fref=ts" target="_blank" class="sns_face_02" title="새 창 열림"><span class="blind">facebook</span></a>
            </div>
        </div>
        <!--// info -->
    </div>
</footer>
<!--// footer -->

<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-109125197-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-109125197-1');
        </script>
    <!--// inc footer e -->

</div>
<!--// wrap e -->

</body></html>