<!DOCTYPE html>
<html lang='utf-8'>
    <meta charset="utf-8">
    <head>
        <title>자유게시판</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>글쓰기</h1>
        <% if(typeof errs !== "undefined") { %>
            <% errs.forEach((err)=>{%>
                <h4 style="color: red;"><%=err.param%> : <%=err.msg%></h4>
            <% }) %>
        <% } %>
        <form method="POST" action="newMemo/store" >
            <textarea name="content"></textarea>
            <input type="submit" value="등록">
            <input type="button" value="돌아가기" onclick="javascript:location.href='/bbs'">
        </form>
    </body>
</html>
