.ft_info_wrap {
    padding-top: 16px;
    margin-top: 25px;
    border-top: 1px solid #dfb206;
}
.ft_content {
    width: 1170px;
    padding: 0 0 40px 0;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.ft_sns {
    width: 100px;
    margin: 0 auto;
    padding-top: 35px;
}

.ft_menu {
    padding-top: 45px;
}

.ft_menu ul {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}